@import '../variables';

.list {
  padding: 0.5rem 0;
  color: $color-font;

  &>.list-item {
    position: relative;
    display: block;
    padding: 0 0.5rem 0 1rem;
    line-height: 1.75rem;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s all ease;
    color: inherit;
    border: none;
    white-space: nowrap;

    &:hover {
      background-color: rgba(0,0,0,0.035);
    }
    &.is-active {
      background-color: #1a7cf9;
      color: white;
    }

    &>.badge {
      position: absolute;
      right: 0.5rem;
      top: 4px
    }
  }
}