.panel {
  padding: 1rem 1.5rem;
  background: white;
  box-shadow: 0 6px 15px rgba(36,37,38,0.1);
  border-radius: 3px;
  margin-bottom: 2rem;

  &.is-elevation-18 {
    box-shadow: 0 9px 11px -5px rgba(0,0,0,.2), 0 18px 28px 2px rgba(0,0,0,.14), 0 7px 34px 6px rgba(0,0,0,.12);
  }
  &.is-elevation-24 {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  }

  &.is-clean {
    padding: 0;

    .panel-title {
      padding: 1rem 1.5rem 0;
    }

    .panel-content {
      padding: 1rem 1.5rem;
    }
  }

  &.is-action {
    transition: 0.3s all ease;
    cursor: pointer;
    &:hover {
      //background-color: rgba(0,0,0,0.01);
      box-shadow: 0 12px 21px rgba(36,37,38,0.25);
    }
  }

  .panel-title {
    font-size: 18px;
    margin: 0 0 1rem;
  }

  .panel-content {

  }
}
