@import "variables";

/**
 * Fonts
 */

@mixin font-family {
  font-family: $font-main;
}
@mixin font-regular {
  @include font-family;
  font-weight: 300;
}
@mixin font-medium {
  @include font-family;
  font-weight: 400;
}
@mixin font-bold {
  @include font-family;
  font-weight: 500;
}
@mixin font-title {
  @include font-bold;
}

/**
 * Loading animation
 */
@mixin loading($color: #aaa, $width: 2px, $size: 3rem) {
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$size/2;
    margin-left: -$size/2;
    width: $size;
    height: $size;
    border: $width solid transparentize($color, 0.8);
    border-radius: 50%;
    border-top-color: transparentize($color, 0.2);

    animation: spin 1s linear infinite;
  }
}
