@import "variables.scss";

table {
  width: 100%;
  border-collapse: collapse;

  th {
    text-align: left;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #999;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  td {
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    font-size: 14px;
    cursor: pointer;
    &:first-child {
      border-left: 3px solid transparent;
    }
  }

  tbody > tr:hover {
    background-color: rgba(0,0,0,0.04);
    td:first-child {
      border-left: 3px solid $color-orange;
    }
  }

  tr:nth-child(odd) td {
    background-color: rgba(0,0,0,0.02);
  }

  tr:last-child td {
    border-bottom: none;
  }
}
