/**
 * Fonts
 */
$font-main: 'Raleway', -apple-system, BlinkMacSystemFont, 'San Francisco', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', 'Fira Sans', Roboto, Oxygen, Ubuntu, 'Droid Sans', 'Arial', sans-serif;
$font-text: -apple-system, BlinkMacSystemFont, 'San Francisco', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', 'Fira Sans', Roboto, Oxygen, Ubuntu, 'Droid Sans', 'Arial', sans-serif;

/**
 * Colors
 */
$color-green: #32c24d;
$color-green-light: #9FD468;
$color-blue: #1a7cf9;
$color-red: #ef5416;
$color-orange: #f07b20;
//$color-orange: #fbc153;

$color-background-dark: #292943;

$color-font-light: #999;
$color-font: #333;
$color-font-dark: #4a4a4a;
$color-grey: #d8d8d8;
$color-grey-light: #e8e8e8;

/**
 * Menu
 */
$menu-height: 3rem;

/**
 * Sidebars
 */
$sidebar-width: 12rem;
